@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

h1{
    font-family: Norse-Bold;
}

* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(flowers.jpg);
    width: 35vw;
    background-size: cover; /*makes background fit in div no matter how much its resized */
    background-repeat: no-repeat;
    color: white;
    font-family: Norse-Bold;
} 


.right {
    font-family: Lato;
    display: flex;
    flex-direction: column;
    width: 65vw;
    background-color: #fafafa;
}

.first {
    height: 15vh;
}

.second {
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;
    margin-bottom: 5%;
    
}

.third {
    height: 40vh;
    background-color: rgb(248, 243, 243);
    box-shadow: 2px 5px #e5e7eb;
    
}

.form-main-div {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: 110px;
    justify-content: space-between;
    margin-top: 30px;
    
}

.fourth {
    height: 30vh
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    ;
}

.form-divsright {
    margin-left: 150px;
}

.form-divsleft, .form-divsright {
    margin-top: 25px;
}

input {
    width: 250px;
    border: 1px solid #e5e7eb;
    height: 35px;
    border-radius: 5px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

input:required:invalid {
    border: 1px solid red;
    outline: none;
}

label {
    font-size: 12px;
    color: rgb(97, 92, 92);
}

#error {
    color: red;
    font-size: 10px;
}

.btn-flower {
    background-color: rgb(192, 106, 120);
    color: white;
    border: 1px solid #596d48;
    border-radius: 5px;
    height: 45px;
    width: 200px;
    margin-top: 35px;
    margin-left: 110px;
    cursor: pointer;
    box-shadow: 2px 5px #e5e7eb;
}

.hyperlink {
    margin-top: 40px;
    margin-left: 110px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgb(192, 106, 120);
    font-weight: bold;
}

.semitransparent {
    height: 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
    margin-top: 27.5vh;
    align-items: center;
}

.bannertext {
    font-size: 110px;
}